---
import FormattedDate from "../FormattedDate.astro";

interface Props {
  Path:string;
  Posts: any[];
}

const { Path, Posts } = Astro.props;
---

<div class="flex flex-col flex-wrap gap-4 justify-between p-4 rounded-xl">
  {
    Posts.map((post: any) => (
      <article class="border-b-2 border-white flex flex-col md:flex-row items-center gap-4 pb-4">
        <a href={`${Path}/${post.slug}`} class="bg-white p-2 rounded-xl w-24 h-24">
          <img
            src={
              post.data.thumbnail
                ? post.data.thumbnail
                : `/svg_topics/${post.data.topic}.svg`
            }
            alt={post.data.title}
            class="w-20 h-20"
          />
        </a>
        <section class="flex flex-col w-full">
          <div class="flex flex-col md:flex-row items-center gap-4 w-full">
            <a href={`${Path}/${post.slug}`} class="w-full">
              <h3 class="mb-0 w-full text-cen">{post.data.title}</h3>
            </a>
            <FormattedDate date={post.data.pubDate} />
          </div>
          <p>{post.data.description}</p>
        </section>
      </article>
    ))
  }
</div>
