---
import ButtonDarkMode from "../react/ButtonDarkMode";
import NavbarLinkComponent from "../NavbarLinkComponent.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import SearchComponent from "../react/SearchComponent";
//import Logo from "../../assets/svg/Logo.svg";
import MenuIcon from "../../assets/svg/Menu.svg";
import HomeIcon from "../../assets/svg/HomeIcon.svg";
import BlogIcon from "../../assets/svg/BlogIcon.svg";
import ProjectIcon from "../../assets/svg/ProjectIcon.svg";
import SocialIcon from "../../assets/svg/SocialIcon.svg";


// Menu translations

const DB_LINKS = {
  es: [
    { link: "Inicio", href: "/es", title: "" },
    { link: "Blog", href: "/es/blog", title: "" },
    { link: "Proyectos", href: "/es/proyectos", title: "" },
    { link: "Redes Sociales", href: "/contact", title: "" },
  ],
  en: [
    { link: "Home", href: "/", title: "" },
    { link: "Blog", href: "/blog", title: "" },
    { link: "Projects", href: "/projects", title: "" },
    { link: "Social media", href: "/contact", title: "" },
  ],
  icons: [
    { src: HomeIcon.src, alt: "Home icon" },
    { src: BlogIcon.src, alt: "Blog icon" },
    { src: ProjectIcon.src, alt: "Project icon" },
    { src: SocialIcon.src, alt: "Social icon" },
  ],
};

const isNavigatorInSpanish = Astro.url.pathname.includes("/es");
const blog_collection = isNavigatorInSpanish ? "es" : "en";
const Links = isNavigatorInSpanish ? DB_LINKS["es"] : DB_LINKS["en"];

//Get all posts for
const Posts = (
  await getCollection(
    "blog",
    (entry: any) => entry.data.language === blog_collection
  )
).map((post: any) => {
  const data = post.data;
  return {
    title: data.title,
    description: data.description,
    slug: post.slug,
  };
});
---

<header
  class="bg-gradient-to-r from-cyan-300 to-indigo-800 mx-auto flex flex-wrap gap-4 justify-between items-center p-4 mb-4 rounded-b-3xl w-full"
>
  <a href="/" class="w-auto">
    <img
      src="/public/svg_social/Logo.svg"
      alt="Nando López"
      class="w-12 rounded-lg"
    />
  </a>

  <input type="checkbox" class="peer hidden" id="navbar-open" />
  <label
    class="bg-gradient-to-r from-teal-500 to-green-900 peer-checked:from-teal-900 peer-checked:to-cyan-500 bottom-40 border-4 fixed md:hidden opacity-90 p-3 right-8 rounded-full z-20"
    for="navbar-open"
  >
    <span class="sr-only">Open main menu</span>
    <Image src={MenuIcon} alt="Open menu" class="w-12" />
  </label>

  <nav
    class="bottom-64 bg-gradient-to-r from-cyan-500 to-indigo-900 duration-1000 flex flex-col gap-8 fixed md:relative mr-[calc(-100%)] md:bg-none md:border-none md:bottom-auto md:flex-row md:mt-0 md:mb-auto md:mr-0 md:opacity-100 md:p-4 md:right-auto md:text-left md:z-0 py-4 transition-all opacity-90 peer-checked:mr-0 text-right right-8 rounded-xl z-20"
    aria-controls="navbar-default"
    aria-expanded="false"
  >
    {
      Links.map((link, index: number) => {
        return (
          <NavbarLinkComponent
            class="flex items-center gap-2 md:p-0 px-4 text-lg"
            href={link.href}
          >
            <img
              src={DB_LINKS.icons[index].src}
              alt={DB_LINKS.icons[index].alt}
              class="md:w-6 w-4"
            />{" "}
            {link.link}
          </NavbarLinkComponent>
        );
      })
    }
  </nav>
  <SearchComponent client:load posts={Posts} />
  <div class="flex gap-4 items-center justify-center md:w-auto w-full">
    <ButtonDarkMode client:load />
    <a
      href="/"
      class:list={[
        { "font-bold": !isNavigatorInSpanish },
        { "font-bold text-white": isNavigatorInSpanish },
      ]}
    >
      EN</a
    > |
    <a
      href="/es"
      class:list={[
        { "font-bold": isNavigatorInSpanish },
        { "font-bold text-white": !isNavigatorInSpanish },
      ]}
      ,
    >
      ES</a
    >
  </div>
</header>
