---
import { getCollection } from "astro:content";
import Layout from "@/layouts/default.astro";

/**
 * Get all post in english which slug match with URL one
 */
export async function getStaticPaths() {
  // Getting all posts in english
  const Posts = await getCollection("blog");
  // Finding the post using the Astro documented way
  return Posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await (post as any).render();
---

<style>
  .post {
    img {
      display: block;
      height: auto;
      margin: 0 auto;
      min-width: 80% !important;
    }
    pre {
      background-color:#24292e;
      color:#e1e4e8;
      display: block !important;
      max-width: 100%;
      min-width: 100%;
      position: relative;
      width: 100% !important;
    }
    code{
      display: block;
      padding-top: 1rem;
    }
    .btnCopy {
      background-color: #0284c7;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .lang{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem
    }
  }
  
</style>
<Layout {...post.data}>
  <nav class="glassmorph flex md:flex-row gap-2 items-center mb-4 p-4 w-full">
    <a href="/">
      <svg
        class="w-3 h-3 me-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
        ></path>
      </svg>
    </a>
    <img src="/svgs/arrow_right.svg" alt="" class="w-2" />
    <a href="/blog">Blog</a>
    <img src="/svgs/arrow_right.svg" alt="" class="w-2" />
    <a href={`/topics/${post.data.topic}`}>{post.data.topic}</a>
    <img src="/svgs/arrow_right.svg" alt="" class="w-2 hidden md:block" />
    <span class="hidden md:block">{post.data.title}</span>
  </nav>
  <div class="glassmorph flex flex-col gap-4 p-4 md:p-8 w-full">
    <figure class="flex justify-center w-full">
      <img
        src={post.data.thumbnail
          ? post.data.thumbnail
          : `/svg_topics/${post.data.topic}.svg`}
        alt={post.data.title}
        class="bg-white min-w-32 min-h-32 p-2 max-w-full rounded-xl"
      />
    </figure>
    <div class="post md:px-8 lg:px-16">
      <Content />
    </div>
  </div>

  <script>
    //Getting all "pre elements"
    const preBlocks = Array.from(document.querySelectorAll("pre"));

    //if post contains "pre elements"
    if (preBlocks.length > 0) {
      //check all pre elements
      for (let preBlock of preBlocks) {
        if (preBlock.firstChild?.nodeName == "CODE") {
          const divlang = document.createElement("div");
          preBlock.appendChild(divlang);
          divlang.innerText = preBlock.getAttribute("data-language") || ""
          divlang.classList.add('lang')
          
          const copyButton = document.createElement("button");
          preBlock.appendChild(copyButton);
          copyButton.innerHTML = "copy code";
          copyButton.classList.add("btnCopy");

          

          copyButton.addEventListener("click", async () => {
            const code = preBlock.childNodes[0].textContent;
            await navigator.clipboard.writeText(code || "");
          });
        }
      }
    }
  </script>
</Layout>
