---
import type { CollectionEntry } from "astro:content";
//import Header from "../components/structure/Header.astro";
import { ViewTransitions } from "astro:transitions";
// Import the global.css file here so that it is included on

import { DB_Menu } from "@/db/DB_Menu";
import SearchComponent from "@/components/react/SearchComponent";
import ButtonDarkMode from "@/components/react/ButtonDarkMode";
import MenuIcon from "@/assets/svg/Menu.svg";
import NavbarLinkComponent from "@/components/NavbarLinkComponent.astro";
import "@fontsource/open-sans";
import "@fontsource-variable/playfair";
import "@fontsource/open-sans";
import "../styles/global.css";
import { DB_SocialMedia } from "@/db/DB_SocialMedia";

/**
 * Load parameters for SEO Stuff
 */
type Props = CollectionEntry<"blog">["data"];

const { title, description, thumbnail, index } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    {index ? <meta name="robots" content="noindex" /> : ""}
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={new URL(thumbnail ?? "/public/svg_social/Logo.svg", Astro.url)}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={new URL(thumbnail ?? "/public/svg_social/Logo.svg", Astro.url)}
    />

    <ViewTransitions />

  </head>

  <ndy
    class="bg-gradient-to-t from-violet-400 via-pink-500 to-yellow-500 dark:from-violet-900 dark:via-pink-950 dark:to-orange-800 dark:text-white flex flex-col justify-between gap-4 min-h-dvh m-0 max-w-screen relative"
  >
    <!--Header navbar -->
    <header
      class="bg-white/20 backdrop-blur-sm flex flex-wrap md:flex-nowrap gap-4 justify-between items-center shadow-lg p-4 w-full z-40"
    >
      <a href="/">
        <img
          src="/svg_social/Logo.svg"
          alt="Nando López"
          class="w-12 rounded-lg"
        />
      </a>
      <div class="flex gap-4 pl-4">
        <SearchComponent client:load />
        <ButtonDarkMode client:load />
      </div>
      <!-- Menu Button for Mobile -->
      <input type="checkbox" class="peer hidden" id="navbar-open" />
      <label for="navbar-open" class="md:hidden">
        <span class="sr-only">Open main menu</span>
        <img src={MenuIcon.src} alt="Open menu" class="w-12" />
      </label>
      <!-- Menu Button for Mobile -->
      <!-- Menu Items -->
      <div
        class="duration-1000 flex-col gap-4 hidden md:flex md:flex-row md:items-center md:justify-end md:mt-0 mt-[calc(-100%)] peer-checked:mt-0 peer-checked:flex transition-transform w-full"
        id="menu"
      >
        <nav class="md:flex gap-8">
          {
            DB_Menu.map((link) => {
              return (
                <NavbarLinkComponent
                  class="flex items-center gap-2 px-4 py-2 rounded-xl text-lg rotate-0 hover:bg-gradient-to-t hover:from-indigo-600 hover:to-violet-400 hover:-rotate-3 transition-all"
                  href={link.href}                  
                >
                  <img src={link.src} alt={link.alt} class="md:w-6 w-4" />{" "}
                  {link.link}
                </NavbarLinkComponent>
              );
            })
          }
        </nav>
      </div>
    </header>
    <!-- Menu Items -->

    <!--Header navbar -->
    <main class=" flex flex-col justify-start md:w-3/4 mx-auto p-4 w-full z-10">
      <slot />
    </main>
    <footer
      class="bg-gradient-to-t from-indigo-600 to-violet-400 flex justify-around p-4 rounded-t-full w-full"
    >
      <div class="flex items-center gap-8">
        {
          DB_SocialMedia
            .filter((link: any) => link.inFooter === true)
            .map((link: any) => (
              <a href={link.link} target="_blank" class="text-white">
                <span class="sr-only">Follow Astro on Mastodon</span>
                <img src={link.icon} alt={link.alt} class="w-12" />
              </a>
            ))
        }
      </div>
    </footer>
  </navdy>
</html>
